<div>
  <mat-form-field appearance="standard">
    <mat-label>Query Name:</mat-label>
    <input matInput [(ngModel)]="query.name" type="text">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Cypher:</mat-label>
    <textarea matInput [(ngModel)]="query.cypher" placeholder="Enter cypher query"></textarea>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Params: </mat-label>
    <textarea matInput [(ngModel)]="query.params" placeholder="Enter params as JSON"></textarea>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Query Type:</mat-label>
    <mat-select [(ngModel)]="query.queryType">
      <mat-option *ngFor="let type of queryTypes" [value]="type.value">{{type.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Batch Key:</mat-label>
    <input matInput [(ngModel)]="query.batchKey">
  </mat-form-field>
</div>
