<form class="columns-1" #getDriverForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="standard">
    <mat-label>Bolt:</mat-label>
    <mat-select [(ngModel)]="driver.bolt" name="bolt" required>
	    <mat-option *ngFor="let bolt of bolts" [value]="bolt.value">{{bolt.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>User Name:</mat-label>
    <input matInput [(ngModel)]="driver.userName" name="userName" required>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Password: </mat-label>
    <input type="password" matInput [(ngModel)]="driver.password" name="password" required>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!getDriverForm.form.valid">Get Driver</button>
  </div>
</form>
